.btn {
    width: 90%;
    height: 100%;
}

.card {
    background-color: rgb(255, 237, 240);
    border-radius: 5%;
}

.img-fluid {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    // border-bottom-left-radius: 5%;
    // border-bottom-right-radius: 5%;
}