.btn {
    width: 70%;
    height: 100%;
}

.card {
    background-color: rgb(255, 237, 240);
    border-radius: 5%;
}

.img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

// .image :hover {
//     opacity: 1;
//     & button {
//         transform: none;
//         opacity: 1;
//     }
// }

// .hover-overlay {
//     position: absolute;
//     width: 150%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background: rgba(255,255,255,0.5);
//     opacity: 0;
//     transition: all 0.5s;

//     & button {
//         z-index: 1000;
//         transition: all 0.5s;
//     }

//     & button:first-of-type {
//         transform: translateX(-20px);
//     }

//     & button:last-of-type {
//         transform: translateX(20px);
//     }
// }