<div class="row">
    <div class="col-6 p-2" *ngFor="let item of product">
        <div class="card h-100 shadow-sm" *ngIf="item">
            <div class="position-relative h-100" style="cursor: pointer;">
                <img src="{{item.pictureURL}}" alt="{{item.name}}" class="img img-fluid">
            </div>
            <div class=" card-body d-flex flex-column align-items-center justify-content-center p-3">
                <a class="text-decoration-none">
                    <h6 class="text-uppercase text-danger">
                        {{item.name}}
                    </h6>
                </a>
                <button (click)="addItemBasket(item)" class="btn btn-outline-danger">{{item.price}} EGP</button>
                <!-- <button (click)="addItemBasket()" class="btn btn-primary me-2">{{product.price}} EGP</button>
                <button routerLink="/shop/{{product.id}}" class="btn btn-primary">View</button> -->
            </div>
        </div>
    </div>
</div>