<div class="mt-4"  [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <button class="btn btn-outline-success mb-3"
            (click)="saveUserAddress()">
            Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-4">
            <app-text-input [label]="'Flat No.'" formControlName="flat"></app-text-input>
        </div>
        <div class="form-group col-4">
            <app-text-input [label]="'Building No.'" formControlName="building"></app-text-input>
        </div>
        <div class="form-group col-4">
            <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-4">
            <app-text-input [label]="'Phone Number'" formControlName="phoneNumber"></app-text-input>
        </div>
        <div class="form-group col-8">
            <app-text-input [label]="'Comment'" formControlName="comment"></app-text-input>
        </div>
    </div>
</div>


<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Back to basket
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        Choose Area <i class="fa fa-angle-right"></i> 
    </button>
</div>